body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-titulo {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.cadastro-link {
    margin-top: 10px;
    font-size: 14px;
}

.cadastro-link a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #222;
    text-decoration: none;
}

.home-icon:hover {
    color: #444;
}